@media (max-width: 1023px) {
  .header {
    max-width: $width-tablet;
    padding: 0;

    &__logo {
      height: 11px;
    }

    &__delivery-form {
      &__text {
        width: 10px;
        font-size: $fs-sm;
        line-height: $lh-md;
      }
    }

    &__delivery-time {
      width: 55px;
      font-size: $fs-xs;
    }

    &__delivery-address {
      width: 215px;

      &__input {
        font-size: $fs-sm;
      }
    }
  }

  .search-form {
    max-width: $width-tb-search;
    padding: 0;
  }

  .content {
    width: $width-tb-content;
    margin-bottom: 50px;
    padding: 0;
  }

  .content-container {
    grid-template: repeat(2, $card-height) / repeat(auto-fill, $card-width);
  }

  .content-card {
    &__img {
      height: 255px;
    }
  }

  .footer-wrap {
    grid-template: 115px 220px 120px 95px / 1fr;
    width: $width-tb-content;
    padding: 0;

    &__site-language {
      width: 175px;
    }
  }
}

@media (max-width: 639px) {
  .header {
    min-width: $width-mobile;
    padding: 0 5px 0 10px;

    &__logo {
      height: 11px;
    }

    &__delivery-form,
    &__basket {
      display: none;
    }

    &__buttons-box {
      width: 150px;
    }

    &__button {
      width: 70px;
      font-size: $fs-xs;
      line-height: $lh-sm;
    }
  }

  .search-form {
    min-width: $width-mb-content;
    padding: 0;
  }

  .search-container {
    &__img {
      width: 16px;
    }

    &__input {
      font-size: $fs-sm;
    }
  }

  .main-delivery {
    display: block;
  }

  .content {
    width: $width-mb-content;
    margin-bottom: 50px;
    padding: 0;

    &__heading {
      margin-top: 40px;
    }
  }

  .content-container {
    grid-template: $card-height / repeat(auto-fill, $card-width);
  }

  .content-card {
    &__img {
      height: 250px;
    }
  }

  .footer-wrap {

    width: $width-mobile;
    height: 860px;
    grid-template: 115px 490px 85px 170px / 1fr;
    padding: 0;

    &__box {
      &--logo {
        grid-row: 1;
        grid-column: 1;
      }

      &__nav {
        display: block;
        grid-row: 2;
        grid-column: 1;
      }

      &--downloads {
        grid-row: 3;
        grid-column: 1;
      }

      &__aside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-row: 4;
        grid-column: 1;
        padding: 40px 0;

        &--copyright,
        &--privacy,
        &--terms {
          align-self: flex-start;
        }
      }
    }

    &__site-language {
      width: 175px;
    }

    &__socials {
      margin-bottom: 40px;
    }

    &__link {
      &--default {
        margin-bottom: 25px;
        &:first-child {
          margin-top: 0;
        }
      }

      &--app-store {
        width: 110px;
        height: 35px;
        margin-right: 15px;
      }

      &--google-play {
        width: 125px;
        height: 35px;
      }
    }
  }
}
