$main-ff: roboto, sans-serif;

$width-desktop: 960px;
$width-tablet: 770px;
$width-tb-search: 750px;
$width-tb-content: 640px;
$width-mobile: 320px;
$width-mb-content: 310px;

$card-width: 310px;
$card-height: 365px;
$card-gap: 15px;

$desk-pad: 0 30px;

$fw-sm: 300;
$fw-md: 400;
$fw-lg: 500;

$fs-xs: 11px;
$fs-sm: 13px;
$fs-md: 14px;
$fs-lg: 16px;
$fs-xl: 22px;

$lh-sm: 13px;
$lh-md: 15px;
$lh-lg: 19px;
$lh-card: 21px;
$lh-xl: 24px;
$lh-heading: 34px;

$color-primary: #262626;
$color-primary-light: #3b3b3b;
$color-primary-bright: #e0e0e0;
$color-secondary: #57ad56;
$color-secondary-light: #59bd5a;
$color-secondary-dark: #49a144;
$color-text-primary: #1d1d1d;
$color-text-secondary: #626262;
$color-white: #fff;
